.post-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    width: 500px;
    background: var(--color-bg);
    border-radius: 15px;
    box-shadow: 0px 5px 15px var(--color-gray);
    padding: 10px;
}

.post-content{
    padding: 5px;
}

.post-content p{
    box-sizing: border-box;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 5px;
}

.user-info img{
    height: 80px;
}

.username h4{
    color: var(--color-gray);
    font-weight: 300;
}

/*ROLAGEM VERTICAL*/

.scrollabe{
    width: 40vw;
    height: 80vh;
    margin-top: 10vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
}

.scrollabe::-webkit-scrollbar{
    display: none;
}