.sidebar {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background: var(--color-white);
    width: 70px;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    border-right: 1px solid var(--color-gray);
}

.icon-buttons-top, .icon-buttons-bottom {
    display: flex;
    flex-direction: column;
}

.icon-buttons-top button, .icon-buttons-bottom button {
    font-size: 24px;
    color: var(--color-gray);
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.icon-buttons-bottom {
    position: relative;
    margin-bottom: 20px;
}
.menu {
    font-size: 4vh;
    cursor: pointer;
}

.sidebar.active {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background: var(--color-white);
    width: 150px;
    justify-content: space-between;
    position: fixed;
    border-right: 1px solid var(--color-gray);
}

.sidebar.active .icon-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar.active .icon-button p{
    font-size: 17.5px;
    margin-left: 5px;
}
