.login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100vh;
}

.left, .right{
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 90px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    width: 400px;
    height: 380px;
    background: var(--color-white);
    border-radius: 15px;
    box-shadow: 0px 5px 15px var(--color-gray);
}

.container a {
    margin: 10px 0px 25px;
    color: var(--color-green);
    font-size: 15px;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
}

form button, form input , form select{
    width: 350px;
    height: 50px;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    font-family: var(--font);
}

form input{
    display: flex;
    padding: 20px;
}

form input::placeholder{
    color: var(--color-gray);
}

form button {
    background: var(--color-green);
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

form button:hover{
    background: var(--color-darkgreen);
}

.register button {
    background: var(--color-black);
    width: 300px;
    height: 50px;
    color: #FFF;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-family: var(--font);
    font-weight: bold;
    cursor: pointer;
}