@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --color-bg : #F2F6F1;
  --color-green : #60CF28;
  --color-darkgreen : #519c2b;
  --color-black : #000;
  --color-gray : #BFBDBD;
  --font : 'Poppins',sans-serif;
}

body {
  margin : 0px;
  padding : 0px;
  font-family: var(--font);
  background-color: var(--color-bg);
}