header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100vw;
    background: var(--color-bg);
    border-bottom: 1px solid var(--color-gray);
    padding: 10px;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.left-header, .right-header{
    display: flex;
    align-items: center;
}

.left-header {
    justify-content: center;
    align-self: center;
    gap: 40px;
    width: 15vw;
}

.right-header{
    justify-self: flex-end;
    width: 7vw;
    margin-right: 15px;
    gap: 20px;
}

.logo-header img{
    height: 35px;
}

.profile, .search{
    display: flex;
    font-size: 30px;
    align-items: center;
    cursor: pointer;
}